/* bootstrap heroes*/
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    flex-direction: inherit;
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
.d-block {
    border-radius: 50%;
}

* {
    margin: 5px;
    background-color: #A9BCD0;
    color:#173753;
}

/* old code

aside {
    padding: 0;
    margin: 0;
    border: 100%;
    display: block;
}

section {
    flex: 3;
}

h2 {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

p {
    text-align: justify;
    display: inline;
    line-height: 25px;
}

#work1 {
    width: 100%;
 
}

#work1 p {
    text-align: center;
}

header {
    text-align: center;
    height: 100px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 20px;
}

.links li {
    display: inline-block;
    padding: 30px 10px;
    list-style: none;
}

#d-block {
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius:50%;
    border: 3px solid #353a47;
}

.row {
    display: flex;
    flex: 50%;
}

.column {
    display: flex;
    flex: 50%;
    padding: 5px;
}

button:hover {
    background-color: khaki;
}

footer {
    text-align: center;
    color: black;
    padding: 50px;    
}

@media screen and (max-width: 768px) {
   main,
    nav {
      flex-direction: column;
    }
 
 aside {
    order: 2;
  } */