* {
    margin: 5px;
    background-color: #A9BCD0;
    color:#173753;
}

aside {
    padding: 0;
    margin: 0;
    border: 100%;
    display: inline;
}

h2 {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

p {
    text-align: justify;
    display: inline;
    line-height: 25px;
}

#work1 {
    width: 100%;
 
}

#work1 p {
    text-align: center;
}



header {
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 20px;
}


.links li {
    display: inline-block;
    padding: 30px 10px;
    list-style: none;
}

#img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius:50%;
    border: 3px solid #353a47;
}

.row {
    display: flex;
    flex: 50%;
}

.column {
    display: flex;
    flex: 50%;
    padding: 5px;
}

button:hover {
    background-color: khaki;
}

footer {
    text-align: center;
    color: black;
    font-size: 28px;
    padding: 50px;    
}