* {
    background-color: #558c8c;
}

hr {
    width: 100%;
    height: auto;
    color:#353a47;

}
header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
      }


.links li {
    display: inline;
    text-align: right;
    margin: left 20px;
    list-style: none;

}
#img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #353a47;
    
}

.vl {
    border-left: 6px solid #353a47;
    height: 300px;
}